{% extends 'index.html' %}
{% load static %}
{% load cart %}
{% block title%}
<title>Fashi | Shopping-Cart</title>
{% endblock %}
{% block body %}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/shop/">Shop</a>
                    <span>Confirmation</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<div class="alert alert-success" role="alert">
    Your Oder is Placed Successfully!
</div>
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in Products %}
                            <tr>
                                <td class="cart-pic first-row"><img src="{{i.pic1.url}}"
                                        style="width: 100px;width: 100px;" alt=""></td>
                                <td class="cart-title first-row">
                                    <h5>{{i.name}}</h5>
                                </td>
                                <td class="p-price first-row">Rs {{i.finalPrice}}</td>
                                <td class="p-price first-row">{{ request|quantity:i.pid }}</td>
                                <td class="total-price first-row">Rs {{request|finalPrice:i.pid}}</td>
                                <td class="p-price first-row">{{i.color}}</td>
                                <td class="p-price first-row">{{i.size}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="subtotal">Subtotal <span>Rs {{SubTotal}}</span></li>
                                <li class="subtotal">Shipping <span>Rs {{Shipping}}</span></li>
                                <li class="cart-total">Total <span>Rs {{Total}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
{% endblock %}