{% extends 'index.html' %}
{% load static %}
{% block title%}
<title>Fashi | Product</title>
{% endblock %}
{% block body %}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/shop/d/d/d/">Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="{{Product.pic1.url}}" alt="">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt active" data-imgbigurl="{{Product.pic1.url}}"
                                    style="width: 150px;height: 150px;"><img src="{{Product.pic1.url}}" alt=""></div>
                                <div class="pt" data-imgbigurl="{{Product.pic2.url}}"
                                    style="width: 150px;height: 150px;"><img src="{{Product.pic2.url}}" alt=""></div>
                                <div class="pt" data-imgbigurl="{{Product.pic3.url}}"
                                    style="width: 150px;height: 150px;"><img src="{{Product.pic3.url}}" alt=""></div>
                                <div class="pt" data-imgbigurl="{{Product.pic4.url}}"
                                    style="width: 150px;height: 150px;"><img src="{{Product.pic4.url}}" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>{{Product.subCat}}</span>
                                <h3>{{Product.name}}</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(5)</span>
                            </div>
                            <div class="pd-desc">
                                <p>{{Product.description}}</p>
                                <h4>Rs {{Product.finalPrice}} <span>{{Product.basePrice}}</span></h4>
                                <h4>Discount {{Product.discount}}</h4>
                            </div>
                            <div class="pd-color">
                                <h6>Color</h6>
                                <div class="pd-color-choose">
                                    <div class="">
                                        <label>{{Product.color}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-color">
                                <h6>SIZE</h6>
                                <div class="pd-color-choose">
                                    <div class="">
                                        <label>{{Product.size}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="quantity">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="pro-qty">
                                        <input type="text" name="q" value="1">
                                    </div>
                                    <button class="primary-btn pd-cart" style="border: none;" type="submit">Add To Cart</button>
                                </form>
                                <a href="/wishlist/{{Product.pid}}/" class="primary-btn pd-cart"
                                    style="margin-left: 2px;">Wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h5>Introduction</h5>
                                            <p>{{Product.description}}</h5>
                                        </div>
                                        <div class="col-lg-5">
                                            <img src="{{Product.pic1.url}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Customer Rating</td>
                                            <td>
                                                <div class="pd-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(5)</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Price</td>
                                            <td>
                                                <div class="p-price">$495.00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Availability</td>
                                            <td>
                                                {% if Product.stock %}
                                                <div class="p-stock">In stock</div>
                                                {% else %}
                                                <div class="p-stock">Out of stock</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Size</td>
                                            <td>
                                                <div class="p-size">{{Product.size}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Color</td>
                                            <td><span>{{Product.color}}</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
{% endblock %}